<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SphericalHarmonicAnalyze.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SphericalHarmonicAnalyze.Properties.Settings>
            <setting name="inGravityModel" serializeAs="String">
                <value>egm96.gfc</value>
            </setting>
            <setting name="outGravityModel" serializeAs="String">
                <value>impruved model.gfc</value>
            </setting>
            <setting name="SGG_measures" serializeAs="String">
                <value>input.SGG</value>
            </setting>
            <setting name="minCoLatitude" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="GridCellSize" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="modelMaxOrder" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="maxCoLatitude" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="longE" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="longW" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pointsCount" serializeAs="String">
                <value>0</value>
            </setting>
        </SphericalHarmonicAnalyze.Properties.Settings>
    </userSettings>
</configuration>